<h1 style="color:#fad30d;">Edit a product.</h1>

<% form_for @product, :url => { :action => "update" }, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p >
    <%= f.label :category, "Category" %><br />
    <span style="text-align:left"><%= f.select :category, Product.all.collect {|u| ["#{u.category}", u.category]}.uniq,
    :selected => @product.category %></span>
  
      &nbsp; (or just specify a new one: &nbsp;<%= text_field_tag 'alternate' %>)
  </p>
  
  <p>
    <%= f.check_box :is_hot %> &nbsp;
    <%= f.label :is_hot %> (bottom right)
  </p>
  
  <p>
    <%= f.check_box :is_showcased %> &nbsp;
    <%= f.label :is_showcased %> (top moving strip)
  </p>
  
  <p >
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
  <p >
    <%= f.label :description_short, "brief description for main page" %><br />
    <%= f.text_area :description_short, :size => "100x4" %>
  </p>
  
  <p >
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "100x15" %>
  </p>

  <p >
    <b>Photo:</b>
    <% if @product.photo_file_name %> <%= image_tag @product.photo.url(:medium) %> <% else %> 
    None (must create a new product to change / add photo). <% end %>
  </p>
  
  <p >
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>

  <p>
    <%= hidden_field_tag :id, @product.id %>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'index' %>