<h1 style="color:#fad30d;">New product</h1>

<% form_for @product, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  
  <p >
    <%= f.label :category %><br />
    <span style="text-align:left"><%= f.select :category, Product.all.collect {|u| ["#{u.category}", u.category]}.uniq %></span>
  
    &nbsp;(or just specify a new one: &nbsp;<%= text_field_tag 'alternate' %>)
  </p>
  
  <p>
    <%= f.check_box :is_hot %> &nbsp;
    <%= f.label :is_hot %> (bottom right)
  </p>
  
  <p>
    <%= f.check_box :is_showcased %> &nbsp;
    <%= f.label :is_showcased %> (top moving strip)
  </p>

  <p >
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
  <p >
    <%= f.label :description_short, "brief description for main page" %><br />
    <%= f.text_area :description_short, :size => "100x4" %>
  </p>
  
  <p >
    <%= f.label :description, "full description for individual product page" %><br />
    <%= f.text_area :description, :size => "100x15" %>
  </p>

  <p >
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  
  <p >
    <b>Photo:</b>
    <% if @product.photo_file_name %> <%= image_tag @product.photo.url(:medium) %> <% end %>
    <%= f.file_field :photo %>
   </p>
  
  <p>
    <br />
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'index' %>