<p>
  <b>Title:</b>
  <%=h @product.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @product.description %>
</p>

<p>
  <b>Image:</b>
  <% if @product.photo_file_name %> <%= image_tag @product.photo.url(:small) %> <% end %>
</p>

<p>
  <b>Price:</b>
  <%=h @product.price %>
</p>


<%= link_to 'Edit', :action => :edit, :id => @product.id %> |
<%= link_to 'Back', :action => :index %>